<div class="card text-center">
  <div class="card-header">
    Rails 6 & Bootstrap 5 Template
  </div>
  <div class="card-body">
    <h5 class="card-title">Does this look good?</h5>
    <p class="card-text">That means that you have successfully setup Rails 6 & Bootstrap 5.</p>
    <a href="#" class="btn btn-primary">Time to get to work!</a>
  </div>
  <div class="card-footer text-muted">
    <%= Time.now.strftime("%Y-%m-%d %H:%M:%S %p") %>
  </div>
</div>
